<script src="../liquid-lite.min.js"></script>




<script type="text/liquid">
<ul class="products">
  {% for product in products limit: 5 %}
    <li>
      <h2>{{ product.title | upcase }}</h2>
      Only {{ product.price }}
      <p>{{ product.description }}</p>
    </li>
  {% endfor %}

  {% for product in products offset: 5 %}
    <li>{{ product.title }} {{ product.price }}</li>
  {% endfor %}
</ul>
</script>


<script type="text/liquid">
{% for item in array %}
	{% if item %}
		Item exists
	{% endif %}

	{% if item == 2 %}
		Item is 2
	{% endif %}

	{% if not_found %}
		Found Not Found
	{% endif %}

	{% if !not_found %}
		Not Found Not Found
	{% endif %}

	<li> {{ item }}
{% endfor %}
</script>


<script type="text/liquid">
{% for item in array %}
<li> {{ item }}
{% endfor %}

{% for i = 3; --i > 0; %}
<li> i = {{ i }}
{% endfor %}

{% for attr in user %}
<li> User has a {{ attr }}
{% endfor %}

{% for attr in deeper.object %}
<li> User has a {{ attr }}
{% endfor %}

{% for attr in deeper.not_found %}
<li> User has a {{ attr }}
{% endfor %}

{% for item in ["a", "b", "c"] %}
<li> {{ item }}
{% endfor %}
</script>


<script type="text/liquid">
{% if user %}
Hello {{ user.name }}
{% endif %}

{% if user.name == 'tobi' %}
Hello tobi
{% else %}
Hello Ann Õun
{% endif %}

{% if user.name == 'bob' && user.age > 45 %}
Hello old bob
{% endif %}

{% if user.name != 'tobi' %}
Hello non-tobi
{% endif %}

{% if user.creditcard %}
poor sob
{% endif %}

{% if user.age > 18 %}
Login here
{% else %}
Sorry, you are too young
{% endif %}
</script>


<script type="text/liquid">
{% if user.name == 'tobi' %}
Hello tobi
{% elsif user.name == 'bobi' %}
Hello bobi
{% else %}
Hello unknown
{% endif %}
</script>


<script type="text/liquid">
{% if not_found %}
Found Not Found
{% endif %}

{% if !not_found %}
Not Found Not Found
{% endif %}
</script>


<script type="text/liquid">
Hello {{name||"x"}}
Hello {{user.name}}
Hello {{ 'tobi' }}
</script>

<div id=result></div>

<script>
	var el
	, i = 0
	, out = []
	, list = document.getElementsByTagName("script")
	, data = 
		{ products:
			[ { title: "Product A", price: 1.01, description: "Hello" }
			, { title: "Product B", price: 1.02, description: "Hello" }
			, { title: "Product C", price: 1.03, description: "Hello" }
			, { title: "Product D", price: 1.04, description: "Hello" }
			, { title: "Product E", price: 1.05, description: "Hello" }
			, { title: "Product F", price: 1.06, description: "Hello" }
			, { title: "Product G", price: 1.07, description: "Hello" }
			, { title: "Product H", price: 1.08, description: "Hello" }
			, { title: "Product I", price: 1.09, description: "Hello" }
			, { title: "Product J", price: 1.10, description: "Hello" }
			]
		, user: { name: "tobi", age: 19 }
		, deeper: { object: { key: "value" } }
		, array: [ 1, 2, 3 ]
		, string: "hello world"
		}

	while (el = list[i++]) if (el.type == "text/liquid") {
		out.push(liquid(el.innerHTML)(data))
	}

	document.getElementById("result").innerHTML = out.join("<hr>")

</script>